body {
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #e4e4e4;
  font-size: 16px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: 100%;
  overflow: hidden;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
}

#container {
  height: 93vh;
  width: 100%;
  margin: auto;
  overflow-y: auto;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #0099ff;
  display: flex;
  overflow-x: auto;
  justify-content: space-around;
}

.nav__link {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}
.nav__link > span {
  color: #000;
}

.nav__icon {
  font-size: 20px;
  width: 25px;
  height: 25px;
}

.active {
  color: #ffffff !important;
}
.active > img {
  -webkit-filter: invert(100%);
}
.active > span {
  font-weight: bold;
  color: #ffffff !important;
}
.btn {
  width: 90%;
  background-color: #0099ff;
  height: 45px;
  border-radius: 15px;
  font-weight: normal;
  color: #ffffff !important;
  font-size: 0.8em;
  border: none;
  padding: 5px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
}

.windows {
  font-size: 1.4em;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  overflow: hidden;
  text-transform: uppercase;
}

#fetch {
}
