<style>
  #api {
    background-color: green;
    justify-content: flex-start;
    padding-top: 1.5em;
  }
  .spaceBetween {
    margin-bottom: 16px;
  }
</style>

<div id="api" class="windows">
  <button id="camera" class="btn spaceBetween">CAMERA</button>
  <button id="gallery" class="btn spaceBetween">GALLERY</button>
  <button id="gps" class="btn spaceBetween">GPS</button>
  <button id="calendar" class="btn spaceBetween">CALENDAR</button>
  <button id="contacts" class="btn spaceBetween">CONTACTS</button>
</div>

<script>
  $(function () {
    $("#camera").on("click", () => {
      app.camera(Camera.PictureSourceType.CAMERA);
    });

    $("#gallery").on("click", () => {
      app.camera(Camera.PictureSourceType.PHOTOLIBRARY);
    });
    $("#gps").on("click", () => {
      app.gps();
    });
    $("#calendar").on("click", () => {
      app.camera(Camera.PictureSourceType.PHOTOLIBRARY);
    });
    $("#contacts").on("click", () => {
      app.camera(Camera.PictureSourceType.PHOTOLIBRARY);
    });
  });
</script>
