<style>
  #text {
    padding-bottom: 1.5em;
  }
  #cpu {
    background-color: yellow;
  }
</style>

<div id="cpu" class="windows">
  <span id="text">Result = 0</span>
  <button id="start" class="btn">START</button>
</div>

<script>
  $(function () {
    $("#start").click(function () {
      var text = "Result = " + 0;
      $("#text").text(text);

      console.log(new Date());
      let result = 0;
      for (let j = 1; j <= 5; j++) {
        for (let k = 1; k <= 100000; k++) {
          result +=
            Math.log2(k) +
            (3 * k) / (2 * j) +
            Math.sqrt(k) +
            Math.pow(k, j - 1);
        }
        console.log(result);
      }
      console.log(new Date());
      var text = "Result = " + result;
      $("#text").text(text);
    });
  });
</script>
