<style>
  #server {
    background-color: red;
    justify-content: flex-end;
  }
  #show {
    width: 60%;
    height: 40%;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
  }
  .views {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    background-color: green;
  }
  .btnsViews {
    background-color: yellow;
  }
  .spaceBetween {
    margin-bottom: 8px;
  }
  #buttons {
    margin-bottom: 40px;
  }
</style>

<div id="server" class="windows">
  <div id="show"></div>

  <button id="fetch" class="btn spaceBetween">FETCHDATA</button>
  <button id="views" class="btn spaceBetween">CREATE VIEWS</button>
  <button id="buttons" class="btn spaceBetween">CREATE BUTTONS</button>
</div>

<script>
  $(function () {
    $("#views").click(function () {
      for (let index = 1; index <= 1000; index++) {
        $("#show").append("<div class='views'>&#32</div>");
      }
    });
    $("#buttons").click(function () {
      for (let index = 1; index <= 1000; index++) {
        $("#show").append("<button class='views btnsViews'>click me</button>");
      }
    });
    $("#fetch").click(function () {
      app.makeGetRequest2(
        "http://192.168.1.112:3000/users?size=100",
        function (data) {
          app.writeFile("users.txt", data);
        }
      );
      app.makeGetRequest2(
        "http://192.168.1.112:3000/banks?size=100",
        function (data) {
          app.writeFile("bank.txt", data);
        }
      );
    });
  });
</script>
